:root {
  --Green-400: hsl(172, 67%, 45%);
  --Green-900: hsl(183, 100%, 15%);
  --Grey-500: hsl(186, 14%, 43%);
  --Grey-400: hsl(184, 14%, 56%);
  --Grey-200: hsl(185, 41%, 84%);
  --Grey-50: hsl(189, 47%, 97%);
  --White: hsl(0, 100%, 100%);
}
.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: 90rem;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  background: var(--Grey-200);
}
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
input {
  padding-inline: 0;
}
section img {
  display: block;
  margin: 163px auto 87px;
}
.tips {
  width: 57.5rem;
  height: 30.0625rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 0 32px 43px 0 rgba(79, 166, 175, 0.2);
  background: var(--White);
  margin-inline: 260px;
}
.tips__form {
  padding: 45px 48px;
}
.form {
  width: 23.6875rem;
}

.input__bill {
  margin-block-end: 40px;
  position: relative;
  display: inline-block;
}
label,
.buttons__text {
  font-weight: 700;
  font-size: 1rem;
  color: var(--Grey-500);
}
label {
  margin-block-end: 6px;
}
input[type="text"] {
  display: block;
  outline: none;
  border: none;
  font-weight: 700;
  width: 23.125rem;
  height: 3rem;
  border-radius: 5px;
  background: var(--Grey-50);
}
.input__bill input {
  padding: 10px 10px 10px 40px; /* Смещение текста вправо (40px) */
  background-image: url("/images/icon-dollar.svg"); /* Иконка */
  background-repeat: no-repeat;
  background-position: 10px center; /* Иконка слева */
  background-size: 10px;
  text-align: right; /* Placeholder и текст справа */
}
.input__person input {
  padding: 10px 10px 10px 40px; /* Смещение текста вправо (40px) */
  background-image: url("/images/icon-person.svg"); /* Иконка */
  background-repeat: no-repeat;
  background-position: 10px center; /* Иконка слева */
  background-size: 10px;
  text-align: right; /* Placeholder и текст справа */
}

input[type="text"]:focus,
input[type="text"]:focus-visible {
  border: 2px solid var(--Green-400);
}

:placeholder-shown {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: right;
  color: #00474b;
}
.buttons__text {
  margin-block-end: 16px;
}
.buttons__line {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 14px;
  row-gap: 16px;
  margin-block-end: 40px;
}
.btn {
  width: 7.3125rem;
  height: 3rem;
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Green-900);
  color: var(--White);
  transition:
    background 450ms ease-in-out,
    color 450ms ease-in;
}
.btn.active {
  background: var(--Green-400);
  color: var(--Green-900);
}
.btn:hover {
  background: var(--Green-400);
  color: var(--Green-900);
}
.buttons__line input {
  width: 7.3125rem;
  height: 3rem;
  border-radius: 5px;
  padding-inline: 14px;
  background: var(--Grey-50);
  color: var(--Grey-500);
}
.btn__custom {
  background: var(--Grey-50);
  color: var(--Grey-500);
}
.input__person label {
  display: inline-block;
}

.error {
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  padding-inline-start: 60px;
  margin-block: 0;
  color: #e17457;
  opacity: 0;
}
.input__person .tips-person.invalid {
  border: 2px solid #e17457;
}
.error.invalid {
  opacity: 1;
}
.tips__number {
  width: 25.8125rem;
  height: 26.0625rem;
  border-radius: 15px;
  padding: 32px;
  background: var(--Green-900);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 337px;
}
.tips__number-amount,
.tips__number-total {
  display: flex;
  align-items: center;
  column-gap: 92px;
}
.tips__number-amount {
  margin-block-end: 41px;
}
.tips__number-text {
  width: 6.25rem;
  font-weight: 700;
  font-size: 1rem;
  color: var(--White);
  margin-block: 0;
}
.tips__number-text span {
  font-weight: 700;
  font-size: 0.8125rem;
  color: var(--Grey-400);
}
.amount-price,
.total-price {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--Green-400);
  margin-block: 0;
}
.reset {
  width: 20.8125rem;
  height: 3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Green-400);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  color: var(--Green-900);
  cursor: pointer;
  margin-top: auto;
  transition: background 450ms ease-in-out;
}
.reset:hover {
  background: #9fe8df;
}
.attribution {
  margin-block-start: 20px;
  font-size: 0.6875rem;
  text-align: center;
  font-style: italic;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 950px) {
  .tips {
    width: 23.4375rem;
    height: 49.375rem;
    flex-direction: column;
    margin-inline: auto;
  }
  section img {
    margin: 50px auto 40px;
  }
  .tips__form {
    padding: 32px;
  }
  .form {
    width: 19.4375rem;
  }
  .input__bill {
    margin-block-end: 32px;
  }
  input[type="text"] {
    width: 19.4375rem;
  }
  .buttons__line {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-block-end: 32px;
  }
  .buttons__line input {
    width: 9.1875rem;
  }
  .btn {
    width: 9.1875rem;
  }
  .error {
    font-size: 14px;
    padding-inline-start: 25px;
  }
  .tips__number {
    width: 20.4375rem;
    height: 16.0625rem;
    padding: 23px;
  }
  .tips__number-amount {
    margin-block-end: 20px;
  }
  .amount-price,
  .total-price {
    font-size: 2rem;
  }
  .reset {
    width: 17.5625rem;
  }
}

/* Для размещения иконки слева и ввода текста/placeholder справа в input, используйте CSS Flexbox или абсолютное позиционирование контейнера. Иконка задается через background-image или тег <img>, а текст внутри инпута смещается padding-left, при этом placeholder выравнивается по правому краю. */
